@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 255, 255);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000062 0%, #00000052 100%), url('../img/background.jpg');
    background-size: cover;
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.redesct {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.redesct ul li{
    display: inline-block;
    margin:0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.iconcolor {
    color:white;
    font-size: 40px;
}

@media (max-width:800px){
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: var(--padding-container);
    }
    
    .hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: rgb(255, 255, 255);
    }
    
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #00000062 0%, #00000052 100%), url('../img/background2.jpg');
        background-size: cover;
        z-index: -1;
    }
    
    
    /* Nav */
    
    .nav {
        --padding-container: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .nav__title {
        font-weight: 300;
    }
    
    .nav__items {
        list-style: none;
    }
    
    .nav__links {
        color: #fff;
        text-decoration: none;
    }
    
    .nav__menu {
        margin-left: auto;
        cursor: pointer;
        display: none;
    }
    
    /* Hero container */
    
    .hero__container {
        max-width: 800px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
    }
    
    .hero__title {
        font-size: 3rem;
    }
    
    .hero__paragraph {
        margin-bottom: 20px;
    }
    
    .cta {
        display: inline-block;
        background-color: #2091F9;
        justify-self: center;
        color: #fff;
        text-decoration: none;
        padding: 13px 30px;
        border-radius: 32px;
    }
    
    .redesct {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    
    .redesct ul li{
        display: inline-block;
        margin:0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    
    .iconcolor {
        color:white;
        font-size: 40px;
    }
}

@media (max-width:600px){
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        padding: var(--padding-container);
    }
    
    .hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: rgb(255, 255, 255);
    }
    
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #00000062 0%, #00000052 100%), url('../img/background2.jpg');
        background-size: cover;
        z-index: -1;
    }
    
    
    /* Nav */
    
    .nav {
        --padding-container: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .nav__title {
        font-weight: 300;
    }
    
    .nav__items {
        list-style: none;
    }
    
    .nav__links {
        color: #fff;
        text-decoration: none;
    }
    
    .nav__menu {
        margin-left: auto;
        cursor: pointer;
        display: none;
    }
    
    /* Hero container */
    
    .hero__container {
        max-width: 800px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
    }
    
    .hero__title {
        font-size: 3rem;
    }
    
    .hero__paragraph {
        margin-bottom: 20px;
    }
    
    .cta {
        display: inline-block;
        background-color: #2091F9;
        justify-self: center;
        color: #fff;
        text-decoration: none;
        padding: 13px 30px;
        border-radius: 32px;
    }
    
    .redesct {
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    
    .redesct ul li{
        display: inline-block;
        margin:0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    
    .iconcolor {
        color:white;
        font-size: 40px;
    }
}